This is a churn tutorial from http://www.gregreda.com/2015/08/23/cohort-analysis-with-python/

In [1]:
import pandas as pd
df = pd.read_csv('/Users/robertdefilippi/Google Drive/Programming/data-science-ipython-notebooks/Data/cohort_csv.csv')
df.head()

   OrderId  OrderDate  UserId TotalCharges CommonId  PupId PickupDate
0      262  1/11/2009      47     $ 50.67     TRQKD      2  1/12/2009
1      278  1/20/2009      47     $ 26.60     4HH2S      3  1/20/2009
2      294   2/3/2009      47     $ 38.71     3TRDC      2   2/4/2009
3      301   2/6/2009      47     $ 53.38     NGAZJ      2   2/9/2009
4      302   2/6/2009      47     $ 14.28     FFYHD      2   2/9/2009

Great! Now we have the data, let's do something about it.

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl

# set_option() --> Sets the value of the specified option.
pd.set_option('max_columns', 50)
mpl.rcParams['lines.linewidth'] = 2

# Don't forget the magic function
%matplotlib inline

We need to create a period column based on the OrderDat. Since we're doing monthly cohorts - though you could do different behavior/time - we need to look at the total monthly behavior of our users.

In [3]:
import datetime as dt

In [4]:
df['Month'] = pd.DatetimeIndex(df['OrderDate']).month
df['Year'] = pd.DatetimeIndex(df['OrderDate']).year
df.head()

,OrderId,OrderDate,UserId,TotalCharges,CommonId,PupId,PickupDate,Month,Year
0,262,1/11/2009,47,$ 50.67,TRQKD,2,1/12/2009,1,2009
1,278,1/20/2009,47,$ 26.60,4HH2S,3,1/20/2009,1,2009
2,294,2/3/2009,47,$ 38.71,3TRDC,2,2/4/2009,2,2009
3,301,2/6/2009,47,$ 53.38,NGAZJ,2,2/9/2009,2,2009
4,302,2/6/2009,47,$ 14.28,FFYHD,2,2/9/2009,2,2009

In [7]:
df['OrderPeriod'] = df[['Year', 'Month']].apply(lambda x: '-'.join(str(value) for value in x), axis=1)
df.head()

,OrderId,OrderDate,UserId,TotalCharges,CommonId,PupId,PickupDate,Month,Year,OrderPeriod
0,262,1/11/2009,47,$ 50.67,TRQKD,2,1/12/2009,1,2009,2009-1
1,278,1/20/2009,47,$ 26.60,4HH2S,3,1/20/2009,1,2009,2009-1
2,294,2/3/2009,47,$ 38.71,3TRDC,2,2/4/2009,2,2009,2009-2
3,301,2/6/2009,47,$ 53.38,NGAZJ,2,2/9/2009,2,2009,2009-2
4,302,2/6/2009,47,$ 14.28,FFYHD,2,2/9/2009,2,2009,2009-2

In [8]:
df.set_index('UserId', inplace=True)

In [11]:
df['CohortGroup'] = df.groupby(level=0)['OrderDate'].min().apply(lambda x: x.strftime('%Y-%m'))

AttributeError: 'str' object has no attribute 'strftime'